 <section class="border-white/20  border-y">
        <div class="text-white mx-auto">
          <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
            <div class="w-full justify-between grid">
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r">
              </div>
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
              </div>
            </div>
            <div
              class="flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap">
              ¡Hola, Mundo! <span class="hidden lg:inline">✺</span> Hello, World! <span
                class="hidden lg:inline">✺</span
              > Bonjour, Monde! <span class="hidden lg:inline">✺</span> Hallo, Welt! <span
                class="hidden lg:inline">✺</span
              > 你好，世界！ <span class="hidden lg:inline">✺</span> こんにちは、世界！ <span
                class="hidden lg:inline">✺</span
              > Привет, мир! <span class="hidden lg:inline">✺</span> مرحبا بالعالم! <span
                class="hidden lg:inline">✺</span
              > नमस्ते, दुनिया! <span class="hidden lg:inline">✺</span> Olá, Mundo! <span class="hidden lg:inline">✺</span>
              ¡Hola, Mundo! <span class="hidden lg:inline">✺</span> Hello, World! <span
                class="hidden lg:inline">✺</span
              > Bonjour, Monde! <span class="hidden lg:inline">✺</span> Hallo, Welt! <span
                class="hidden lg:inline">✺</span
              > 你好，世界！ <span class="hidden lg:inline">✺</span> こんにちは、世界！ <span
                class="hidden lg:inline">✺</span
              > Привет, мир! <span class="hidden lg:inline">✺</span> مرحبا بالعالم! <span
                class="hidden lg:inline">✺</span
              > नमस्ते, दुनिया! <span class="hidden lg:inline">✺</span> Olá, Mundo! <span class="hidden lg:inline">✺</span>
            </div>
          </div>
        </div>
      </section>