---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
---

<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto">
      <div class="mx-auto lg:pt-28 gradient-grid px-8 py-12 grid gap-4 grid-cols-1 md:grid-cols-2 ">
        <div class="flex justify-center">
          <img class="rounded-lg h-auto max-w-80 w-full" src="../../../public/avatars/profile.jpg" alt="">
        </div>
        <div class="flex flex-col justify-around">
          <h1 class="text-white font-display text-center uppercase text-3xl lg:text-7xl ">
            Armando Ortega
          </h1>
          <p class="text-white text-justify">
            Hello! I'm a <span class="font-black">Frontend Developer</span>  dedicated to creating useful and dynamic designs. I'm passionate about ensuring a good user experience, aiming to deliver every project on time and with the precision of a finely-tuned algorithm.
          </p>

        </div>
        

      </div>
      <Banner />
      <Testimonials />
    </div>
  </div>
</section>
