<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="p-8">
      <p class="text-white font-display uppercase text-3xl lg:text-6xl">
        Work Experience
      </p>
    </div>
    <div
      class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2 md:gap-y-0">
      <div>
        <div class="flex flex-col">
          <span class="text-white font-display text-xl">Kubers <a href="https://kubers.com.mx/index.html" target=”_blank”>&#128279;</a></span>
            <span class="text-[#ed642c] font-display text-sm">as Frontend Developer </span>
            <span class="text-[#ed642c] font-display text-sm">| Present |</span>
        </div>
        <p class="mt-3 text-eagle text-justify">
          I work on giving design services from scratch using Figma and later develop the designs giving them a web solution usign html, css, Bootstrap and Javascript. 
        </p>
      </div>
      <div>
        <div class="flex flex-col">
          <span class="text-white font-display text-xl">Salesiano <a href="https://www.tecnologico-cg.edu.mx/index.html" target=”_blank”>&#128279;</a></span>
            <span class="text-[#ed772f] font-display text-sm">as Computer Science Teacher</span>
            <span class="text-[#ed772f] font-display text-sm">| 01/2024 – 03/2024 |</span>
        </div>
        <p class="mt-3 text-eagle text-justify">
          I highlighted critical thinking and innovative approaches to build foundational tech skills, aiming to solve real-life problems with the technology learned in class.
          Improved students' abilities to understand and express ideas effectively by studying a vast vocabulary and examining real-life examples.
        </p>
      </div>
      <div>
        <div class="flex flex-col">
          <span class="text-white font-display text-xl">Matraka <a href=" https://www.matraka.com.mx" target=”_blank”>&#128279;</a></span>
            <span class="text-[#ef9335] font-display text-sm">as Technical Support</span>
            <span class="text-[#ef9335] font-display text-sm">| 04/2023 – 12/2023 |</span>
        </div>
        <p class="mt-3 text-eagle text-justify">
          I provided essential technical assistance and troubleshooting to guarantee uninterrupted operations.
          Addressed and resolved hardware/software issues to minimize downtime and enhance productivity.
        </p>
      </div>
      <div>
        <div class="flex flex-col">
          <span class="text-white font-display text-xl">AIA Partners <a href="https://www.aiapartner.com" target=”_blank”>&#128279;</a></span>
            <span class="text-eagle font-display text-sm">as Backend Developer</span>
            <span class="text-eagle font-display text-sm">| 10/2022 – 04/2023 |</span>
        </div>
        <p class="mt-3 text-eagle text-justify">
          I aimed to build a solid backend infrastructure for the project, optimizing database queries to enhance platform reliability and efficiency.
          I was concentrated on building a scalable and secure backend system to facilitate efficient data management and seamless front-end 
        </p>
      </div>
    </div>
  </div>
</section>
